html {
  background: #dedede;
}
#container {
  background: #dedede;
  padding: 10px;
  font-family: arial;
  text-align: center;
}
label {
  display: block;
  margin-bottom: 20px;
  font-size: 16px;
}
#results {
  background: #222;
  color: #fff;
  font-size: 22px;
  padding: 20px 50px;
  margin: 20px 0px;
  font-family: arial;
  list-style-type: inside;
}
h1 {
  text-transform: uppercase;
}
select {
  padding: 5px;
  font-size: 16px;
  font-weight: bold;
}
input {
  padding: 5px;
  font-size: 16px;
  font-weight: bold;
}
